
.App {
  width: 80%;
  display: block;
  margin: 100px auto;
}

.ChatHistory {
  background-color: lightblue;
  padding: 10px;
  overflow-y: scroll;
  height: 500px;
}

.mainInput {
  width: 80%; 
  margin-top: 10px;
}